{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}